:root{
    --Softorange: hsl(35, 77%, 62%);
    --Softred: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayishblue: hsl(233, 8%, 79%);
    --Darkgrayishblue: hsl(236, 13%, 42%);
    --Verydarkblue: hsl(240, 100%, 5%);
}
.LastNews{
    background-color: var(--Verydarkblue);
    margin-bottom: 35px;
    padding: 17px 17px 0 17px;
    
}
.LastNews h3{
    color: var(--Softorange);
    font-size: 2rem;
    margin: 0;
    padding-bottom: 20px;
}
.LastNewsContent h4 {
    font-size: 1.4rem;
    color: aliceblue;
    margin: 0;
}
.LastNewsContent p{
    font-size: 1.01rem;
    line-height:1.8;
    color: var(--Grayishblue);
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-weight: 400
    
}
.uno, .dos {
    
    border-bottom: 1px solid var(--Grayishblue);
}

@media (min-width:900px) {
    .LastNews{
        height: 565px;
        width: 20vw;
        display: flex;
        flex-direction: column;
    }
    .LastNews h3 {
        font-size: 3rem;
    }   
    .LastNewsContent h4 {
        font-size: 1.6rem;
    }
    .LastNewsContent p {
        font-size: 1.08rem;
    }   

}